<section id="about">
    <div class="container decore d-flex align-items-center flex-column p-5 ">
        <h1 class="info fw-bolder ">ABOUT</h1>
        <div class="decore d-flex m-auto">
            <div class="decore-line"></div>
            <div class="decore-icon"><i class="fa-solid fa-star"></i></div>
            <div class="decore-line"></div>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, deleniti tenetur eum veritatis
                    molestiae aliquam voluptatibus distinctio ipsam rem ea.</p>
            </div>
            <div class="col-md-6 ">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, deleniti tenetur eum veritatis
                    molestiae aliquam voluptatibus distinctio ipsam rem ea.</p>
            </div>
        </div>
    </div>

</section>