<section id="contact">
    <div class="container decore d-flex align-items-center flex-column p-5 ">
        <h1 class="info fw-bolder ">ABOUT</h1>
        <div class="decore d-flex m-auto">
            <div class="decore-line"></div>
            <div class="decore-icon">
                <i class="fa-solid fa-star"></i></div>
            <div class="decore-line"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="Email Address">
                    </div>
                    <div class="mb-3">
                        <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="Phone Number">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="20" cols="50"
                            placeholder="Message"></textarea>
                    </div>
                    <button class="btn w-25 h-50  ">Send</button>

                </div>
            </div>
        </div>
    </div>
</section>
<section id="location">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="item">
                    <h3>LOCATION</h3>
                    <p>Alexandria , Egypt</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <h3>AROUND THE WEB</h3>
                    <div class="icon">
                        <a ><i class="fa-brands fa-facebook"></i></a>
                        <a ><i class="fa-brands fa-twitter"></i></a>
                        <a ><i class="fa-brands fa-linkedin-in"></i></a>
                        <a ><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <h3>ABOUT FREELANCER</h3>
                    <p>Freelance is a free to use, MIT licensed Bootstrap theme created by Route</p>
                </div>
            </div>
        </div>
    </div>
</section>