<section id="portfolio">
    <div class="container decore d-flex align-items-center flex-column p-5 ">
        <h1 class="info fw-bolder ">PORTFOLIO</h1>
        <div class="decore d-flex m-auto">
            <div class="decore-line"></div>
            <div class="decore-icon"><i class="fa-solid fa-star"></i></div>
            <div class="decore-line"></div>
        </div>
    </div>
    <div class="container">
        <div class="row gy-5 m-auto ">
            <div class="col-md-4">
                <div class="item">
                    <img src="./assets/pics/cabin.png" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <img src="./assets/pics/cake.png" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <img src="./assets/pics/circus.png" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <img src="./assets/pics/game.png" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="item ">
                    <img src="./assets/pics/safe.png" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <img src="./assets/pics/submarine.png" alt="">
                </div>
            </div>
        </div>
    </div>



</section>