<section id="home">
    <div class="container d-flex align-items-center flex-column p-5 ">
        <img class="avatar mb-5" src="./assets/pics/avataaars.svg" alt="avatar">
        <h1 class="info fw-bolder ">MOHAMED SAMY</h1>
        <div class="decore d-flex m-auto">
            <div class="decore-line"></div>
            <div class="decore-icon"><i class="fa-solid fa-star"></i></div>
            <div class="decore-line"></div>
        </div>
        <p class="info mb-0 text-white text-center fw-bold fs-5">Web Developer - Front End Engineer</p>
    </div>
</section>