#home{
    background-color: #1ABC9C;
    height: 88vh;
}
.container h1{
    color: whitesmoke;
}
.container img{
    width: 15rem !important;
}
.decore .decore-line{
    width: 200px;
    height: 5px;
    background-color:white;
    border-radius: 1rem;
    margin-top: 20px;
}
.decore .decore-icon{
    color: white;
    margin: 5px;
    font-size: xx-large;
    transform:translateY(-30%);
    padding: 10px;
}
